@import './mixins';

.footer {
  background: var(--c-5);
  padding: 30px 30px 100px;

  &__inner {
    @include media(">=desktop") {
      & {
        padding-left: calc((100% - 1000px) / 2);
        padding-right: calc((100% - 1000px) / 2);
        margin: 0 auto;
      }
    }
  }

  & {
    color: var(--c-gs-6);
  }

  @include nav-list-horiz;

  a {
    color: var(--c-gs-6);
    text-decoration: none;

    &.selected {
      border-bottom: 2px solid #000;
    }

    &:hover:not(.selected),
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
  }
}