@import './mixins';

.guide {
  .burger-wrap {
    display: inline-flex;
    align-items: center;
    position: sticky;
    top: 105px;
    z-index: 9;
    padding: 10px;
    background: #fff;
    float: right;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.13);
  }
}