@import './mixins';

.hero {
  background: var(--c-1);
  box-shadow: inset 0 0 80px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 50px 20px;

  .strap {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2;
    margin: 0 0 20px;
  }

  @include media(">=desktop") {
    & {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }
}

.cta {
  color: #FFF;
  background-color: var(--c-6);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.usps {
  padding: 20px 10px;

  small {
    display: block;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  @include media(">=desktop") {
    &__inner {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }

  &2 {
    border-top: 1px solid rgb(194, 191, 191);
  }

  .usp {
    flex: 2;
    width: 50%;
    margin: 20px 34px;
    text-align: center;

    &__icon {
      width: 100px;
      height: 100px;
      background: var(--c-4);
      border-radius: 50%;
      margin: 0 auto 10px;
    }

    &__icon-image {
      width: 60vw;
      margin-bottom: 15px;

      @include media(">=tablet") {
        & {
          width: auto;
          height: 180px;
        }
      }

      @include media(">=desktop") {
        & {
          width: 300px;
          height: 180px;
        }
      }
    }


    &__title {
      margin: 0 0 10px;
      font-size: 16px;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 10px;
    }
  }
}

.testimonials {
  background: var(--c-gs-2);
  box-shadow: inset 0 0 80px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;

  @include media(">=desktop") {
    & {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }

  .testimonial {
    position: relative;
    margin-right: 40%;

    &:nth-child(2n) {
      margin-left: 40%;
      margin-right: 0;
    }

    blockquote {
      display: inline-block;
      position: relative;
      padding: 30px 40px 30px 30px;
      margin: 0;
      font-size: 18px;

      &::before,
      &::after {
        color: rgba(255, 255, 255, 0.25);
        font-size: 85px;
        position: absolute;
        line-height: 0.5;
        font-family: Georgia, serif;
      }

      &::before {
        content: '“';
        left: -10px;
        top: 35px;
      }

      &::after {
        content: '”';
        right: 0;
        bottom: 0;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
      }

      q {
        &::before,
        &::after {
          content: '';
        }
      }
    }
  }
}

.customers {
  padding: 30px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    .customer {
      padding: 0;
      margin: 0 0 15px;
    }
  }

  @include media(">=desktop") {
    & {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }
  }

  h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

}

.home {
  /*background: rgba(220, 220, 220, 1);*/
}

.home-logo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
}

.home-header {
  padding: 10px;
  border: 1px solid rgba(255, 0, 255, 1);
  display: inline-block;
  color: rgba(13, 105, 227, 1);
}

.home-title {
  font-size: 1.5em;
}

.home-intro {
  font-size: large;
}

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hp-signup-form {
  text-align: center;
  h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }

  .email {
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #999;
  }

  .mc-field-group {
    display: flex;
    flex-direction: column;

    .cta {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @include media(">=tablet") {
      & {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}