@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './mixins';

:root {
  --c-0: #f6fbdb;
  --c-1: #f2f3eb;
  --c-2: #eceede;
  --c-3: #e5e8d5;
  --c-4: #3e3e3d;
  --c-5: #282927;
  --c-6: #4c6937;
  /* grayscales */
  --c-gs-1: #000;
  --c-gs-2: #282927;
  --c-gs-3: #666;
  --c-gs-5: #bbb;
  --c-gs-6: #eee;
  --c-gs-7: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

pre {
  width: 100%;
  overflow-x: auto;
  padding: 10px 10px 15px;
  background: var(--c-gs-6);
  position: relative;
  font-size: 16px;
}
pre code {
  padding-right: 60px;
}

h2 {
  font-weight: 500;
}
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

a {
  color: var(--c-5);
}

th {
  text-align: left;
}

*:not(pre) > code {
  padding: 2px 5px;
  background: var(--c-gs-6);
}

.pre-wrap {
  position: relative;
}
.copy-code-btn {
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 1;
  padding: 5px 10px 8px;
  border: 1px solid var(--c-gs-3);
  background: var(--c-gs-7);
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  background: none;
  padding: 0;
}

li { margin: 0 0 10px; }

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
  Optionally: Define a strong focus indicator for keyboard focus.
  If you choose to skip this step then the browser's default focus
  indicator will be displayed instead.
*/
.js-focus-visible .focus-visible {

}

.main-container {
  padding: 20px;
  flex: auto;
}

.pl-c {
    color: #6a737d
}

.pl-c1,.pl-s .pl-v {
    color: #005cc5
}

.pl-e,.pl-en {
    color: #6f42c1
}

.pl-s .pl-s1,.pl-smi {
    color: #24292e
}

.pl-ent {
    color: #22863a
}

.pl-k {
    color: #d73a49
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
    color: #032f62
}

.pl-smw,.pl-v {
    color: #e36209
}

.pl-bu {
    color: #b31d28
}

.pl-ii {
    background-color: #b31d28;
    color: #fafbfc
}

.pl-c2 {
    background-color: #d73a49;
    color: #fafbfc
}

.pl-c2:before {
    content: "^M"
}

.pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700
}

.pl-ml {
    color: #735c0f
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
    color: #005cc5;
    font-weight: 700
}

.pl-mi {
    color: #24292e;
    font-style: italic
}

.pl-mb {
    color: #24292e;
    font-weight: 700
}

.pl-md {
    background-color: #ffeef0;
    color: #b31d28
}

.pl-mi1 {
    background-color: #f0fff4;
    color: #22863a
}

.pl-mc {
    background-color: #ffebda;
    color: #e36209
}

.pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa
}

.pl-mdr {
    color: #6f42c1;
    font-weight: 700
}

.pl-ba {
    color: #586069
}

.pl-sg {
    color: #959da5
}

.pl-corl {
    color: #032f62;
    text-decoration: underline;
}

.container {
  padding: 20px 28px 40px;

  @include media(">=desktop") {
    &__inner {
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc((100% - 1000px) / 2);
      margin: 0 auto;
    }
  }
}

.main-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe-btn {
  color: #FFF;
  background-color: var(--c-6);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  position: fixed;
  left: 20px;
  bottom: 20px;
  transform: perspective(1px) translate3d(0,0,0) !important;
}


.gdpr-banner-wrapper { background: #333; position: fixed; z-index: 10000; top: 0;
    left: 0;
    right: 0; }
.gdpr-banner { padding: 20px; overflow: hidden; }
.gdpr-banner a { color: #FFF; }
.gdpr-banner-title { margin: 0 5% 0 0; color: #fff;  }
.gdpr-banner-content { margin: 0 5% 12px 0; color: #eee; }
.gdpr-banner-options { margin: 0; text-align: center; padding: 0; }
.gdpr-banner-options li { margin: 0; list-style-type: none; }
.gdpr-ok-button { color: #FFF; border: 1px solid #FFF; background: 0; font-size: 20px; padding: 5px 10px; margin: 0 0 12px; display: block; width: 100%;
}

@media screen and (min-width: 860px) {
  .gdpr-banner-title { float: left; margin: 0 5% 0 0; color: #fff; width: 20%; }
  .gdpr-banner-content { float: left; margin: 0 5% 0 0; color: #eee; width: 40%; }
  .gdpr-banner-options { float: left; width: 20%; margin: 0; text-align: left; }
  .gdpr-ok-button { color: #FFF; border: 1px solid #FFF; background: 0; font-size: 20px; padding: 5px 10px; margin: 0 0 12px; display: inline-block; width: auto; }
}