@import './mixins';

:root {
  --close-size: 24px;
  --close-color: #000;
}

.logo {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin: 0;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   right: -30px;

  //   width: 20px;
  //   height: 20px;
  //   background: var(--c-0);
  //   border-radius: 50%;
  //   border: 1px solid var(--c-4);
  // }

  &__sub {
    color: #888;
  }

  a {
    text-decoration: none;
  }
}

.sub-nav {
  z-index: 9;
  position: sticky;
  top: 0;

  position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;

  .close-btn {
    top: 90px;
  }
}
.nav {
  position: sticky;
  top: 0;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.13);
  z-index: 10;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include nav-list-horiz;

    ul {
      display: none;

      @include media(">=desktop") {
        & {
          display: flex;
        }
      }
    }
  }
  &__header-left {
    align-items: center;
    display: flex;
  }
}

.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  transform: rotateZ(135deg);
  font-size: 0;
  border: 0;
  background: none;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: block;

  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: var(--close-size);
    border-bottom: 3px solid var(--close-color);
  }

  &::before {
    position: absolute;
    left: 0;
    content: '';
    width: var(--close-size);
    border-bottom: 3px solid var(--close-color);
    transform: rotateZ(90deg);
  }
}

.show .overlay-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

.main-nav {
  transform: translateX(-100%);
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .35s;
  transition-property: transform;
  transform-style: preserve-3d;
  will-change: transform;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #424242;
  background-color: #fafafa;
  pointer-events: all;

  &__inner {
    padding: 60px 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    border-bottom: 1px solid var(--c-2);
    margin: 0;
  }
  a {
    color: var(--c-5);
    padding: 10px;
    display: block;
    text-decoration: none;

    &.selected {
      background: var(--c-5);
      color: var(--c-1);
    }

    &:focus:not(.selected),
    &:hover:not(.selected) {
      background: var(--c-gs-6);
    }
  }

  @include media(">=desktop") {
    & {
      width: 30%;
      min-width: 500px;
    }
  }

  .show & {
    transition-delay: .07s;
    transform: translateX(0);
    border-right: 1px solid #e0e0e0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    overflow: auto;
  }
}

.burger {
  padding: 8px;
  display: block;
  background: white;
  border: 5px solid white;
  position: relative;
  width: 40px;
  height: 30px;
  font-size: 0;
  margin-right: 15px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: calc(50% - 3px);
    left: 0%;
    right: 0%;
    top: 0%;
    border-top: 3px solid var(--c-4);
    border-bottom: 3px solid var(--c-4);
  }

  &::before {
    top: 100%;
    height: 0;
    border-top: 3px solid var(--c-4);
    border-bottom: none;
  }
}