.table {
  max-width: 100%;

  &__wrap {
    width: 100%;
    overflow-x: auto;
  }

  border-collapse: collapse;

  tr:nth-child(2n) {
    background: var(--c-gs-6);
  }

  th {
    background: #ddd;
  }
  th,
  td {
    border: 1px solid var(--c-gs-7);
    padding: 5px 8px;
  }
}