@import '../../../src/mixins';

.blog-post {
  h2, h3 {
    margin: calc(2em + .5vw) 0 calc(1em + .5vw);
  }
  small {
    font-size: 16px;
  }

  li,
  p {
    font-size: 19px;
    line-height: calc(1.5em + .2vw);
    margin: calc(1em + .5vw) 0;
    font-family: Georgia, serif;

    @include media(">=desktop") {
      & {
        font-size: 21px;
      }
    }
  }

  img {
    max-width: 100%;
  }
}